<head>
    <meta charset="UTF-8">
    <title>Echarts</title>
    <script src="/static/js/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        $(function(){
            var myChart = echarts.init(document.getElementById('main'));
            $.ajax({
                url:'/getdata',
                success:function(data) {
                    json_data = JSON.parse(data)
                    console.info(json_data['language'])
                    console.info(json_data['value'])
                    var option = {
                        title: {
                            text: "title"
                        },
                        tooltip:{},
                        legend:{
                            data:["quantity"]
                        },
                        xAxis: {},
                        series:[{
                            name:"quantity",
                            type:"bar",
                            data:json_data['value']
                        }]
                    };
                    myChart.setOption(option);
                }
            })
        }
    </script>
</body>