<head>
    <meta charset="UTF-8">
    <title>Echarts</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
</head>

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        get_view();
        var myChart = echarts.init(document.getElementById('main'));
        var app = {
            xday:[],
            yvalue:[]
        };
        $(document).ready(function () {
            get_view();
            console.log(app.xday);
            console.log(app.yvalue)
        });
        function get_view(){
			$.ajax({
                url:'/view_city',
				timeout:10000,//超时时间设置为10秒；
				success:function(data){
				    json_data = JSON.parse(data)
                    console.info(json_data['key'])
                    console.info(json_data['value'])
                    myChart.setOption({
                        title: {
                            text: '异步数据加载示例'
                        },
                        tooltip: {},
                        legend: {
                            data:['key']
                        },
                        xAxis: {
                            data: json_data['key']
                        },
                        yAxis: {},
                        series: [{
                            name: '销量',
                            type: 'bar',
                            data: json_data['value']
                        }]
                    })
				},
				error:function(xhr,type,errorThrown){
				}
			});
		};

    </script>
<body>
</body>
