<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="index.html">COMP90024 Cluster and Cloud</a>
              </div>
            </header>

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Twitter about Covid-19 Timeline Trend</h1>
                    <p><strong>Twitter about Covid-19</strong> has an increasing trend since 2019. </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tables -->
            <section class="tables">
                  <div id="show" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        get_view();
        var myChart = echarts.init(document.getElementById('show'));
        var data = {
            city:[],
            subjectivity:[],
            polarity:[]
        };
        $(document).ready(function () {
            get_view();
            console.log(data.city);
            console.log(data.subjectivity);
            console.log(data.polarity)
        });
        function get_view(){
			$.ajax({
                url:'/view_stat',
				timeout:10000,
				success:function(data){
				    json_data = JSON.parse(data)
                    console.info(json_data['key'])
                    console.info(json_data['subjectivity'])
                    console.info(json_data['polarity'])
                    myChart.setOption({
                        title: {
                            text: 'the comparision of subjectivity and polarity'
                        },
                        tooltip: {
                          trigger: 'axix',
                          axisPointer:{
                            type: 'shadow'
                          }
                        },
                        legend: {
                            data:['subjectivity', 'polarity'],
                            top: 30
                        },

                        xAxis: [{
                            type: "value"
                        }],
                        yAxis: [{
                          type: "category",
                          data: data["key"]
                        }],
                        series: [{
                            name: "subjectivity",
                            type: "bar",
                            label: {
                                show: true,
                                position: "inside"
                            },
                            emphasis:{
                                focus: "series"
                            },
                            data: json_data['subjectivity']
                        },
                        {
                            name: "polarity",
                            type: "bar",
                            label: {
                                show: true,
                                position: "inside"
                            },
                            emphasis:{
                                focus: "series"
                            },
                            data: json_data['polarity']
                        }]
                    })
				},
				error:function(xhr,type,errorThrown){
				}
			});
		};
    </script>
              <div class="container-fluid">
                <div class="row">
                </div>
              </div>
            </section>

          </div>
        </div>
      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>
              
            <!-- Menu -->
           <nav id="menu">
              <ul>
                <li><a href="index">Homepage</a></li>
                <li><a href="total">Twitter Count by City</a></li>
                <li><a href="trend">Covid-19 Trend</a></li>
                <li>
                  <span class="opener">Weekly Income and Economic Index</span>
                  <ul>
                    <li><a href="income">Weekly Income</a></li>
                    <li><a href="relation">Relation Between Income and Economics</a></li>
                  </ul>
                </li>
                <li>
                  <span class="opener">Subject and Polarity</span>
                  <ul>
                    <li><a href="stat">Subject</a></li>
                    <li><a href="stat">Polarity</a></li>
                  </ul>
                </li>
                <li><a href="https://www.google.com">External Link</a></li>
              </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2021</p>
            </footer>
          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/transition.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/custom.js"></script>

</body>
</html>