<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="index.html">COMP90024 Cluster and Cloud</a>
              </div>
            </header>

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Twitter about Covid-19 Timeline Trend</h1>
                    <p><strong>Twitter about Covid-19</strong> has an increasing trend since 2019. </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tables -->
            <section class="tables">
                  <div id="show" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        get_view();
        var myChart = echarts.init(document.getElementById('show'));
        var data = {
            date:[],
            count:[]
        };
        $(document).ready(function () {
            get_view();
            console.log(data.date);
            console.log(data.count)
        });
        function get_view(){
			$.ajax({
                url:'/view_trend',
				timeout:10000,//超时时间设置为10秒；
				success:function(data){
				    json_data = JSON.parse(data)
                    console.info(json_data['key'])
                    console.info(json_data['value'])
                    myChart.setOption({
                        title: {
                            text: 'the trend of twitter about COVID-19'
                        },
                        tooltip: {},
                        legend: {
                            data:['count']
                        },
                        xAxis: {
                            type: "category",
                            data: json_data['key']
                        },
                        yAxis: {
                          type: "value"
                        },
                        series: [{
                            data: json_data['value'],
                            type: 'line',
                        }]
                    })
				},
				error:function(xhr,type,errorThrown){
				}
			});

		};
    </script>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="section-heading">
                      <h2>Tables</h2>
                    </div>
                    <div class="default-table">
                      <table>
                        <thead>
                          <tr>
                            <th>Year</th>
                            <th>Total Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>2019</td>
                            <td>$20.50</td>
                          </tr>
                          <tr>
                            <td>2020</td>
                            <td>$20.50</td>
                          </tr>
                          <tr>
                            <td>2021</td>
                            <td>$20.50</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>
      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>
              
            <!-- Menu -->
           <nav id="menu">
              <ul>
                <li><a href="index">Homepage</a></li>
                <li><a href="simple_page">Simple Page</a></li>
                <li><a href="Covid-19 Trend">Covid-19 Trend</a></li>
                <li>
                  <span class="opener">Dropdown One</span>
                  <ul>
                    <li><a href="#">First Sub Menu</a></li>
                    <li><a href="#">Second Sub Menu</a></li>
                    <li><a href="#">Third Sub Menu</a></li>
                  </ul>
                </li>
                <li>
                  <span class="opener">Dropdown Two</span>
                  <ul>
                    <li><a href="#">Sub Menu #1</a></li>
                    <li><a href="#">Sub Menu #2</a></li>
                    <li><a href="#">Sub Menu #3</a></li>
                  </ul>
                </li>
                <li><a href="https://www.google.com">External Link</a></li>
              </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2021</p>
            </footer>
          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/transition.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/custom.js"></script>

</body>
</html>